YouTube Automation.json
{
  "name": "YouTube Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -48
      ],
      "id": "d6beeebb-3b0d-4ec8-a30d-af8533652ddf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -192,
        176
      ],
      "id": "bc16c57b-45ec-4c08-8fbc-e40b15cf1d46",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "UedQPaoiZ4g4Mh80",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        176,
        176
      ],
      "id": "1b926ee2-20c1-4255-8abb-8e7812638731",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "UedQPaoiZ4g4Mh80",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        528,
        176
      ],
      "id": "a57a052e-bc07-4543-824b-73f4f6622777",
      "name": "Ollama Model2",
      "credentials": {
        "ollamaApi": {
          "id": "UedQPaoiZ4g4Mh80",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert YouTube content strategist specializing in faceless, high-retention cybersecurity channels.\nYour task is to generate viral-potential cybersecurity video topics that can be created without showing a face or speaking on camera.\n\nRULES:\n1. All topics must be cybersecurity-focused, beginner-friendly to intermediate level unless otherwise requested.\n2. Topics must be curiosity-driven, SEO-optimized, and capable of high CTR.\n3. Do NOT include anything that requires showing a face, identity, or personal presence.\n4. Prefer formats suitable for faceless production:  \n   - Animated explainers  \n   - Screen recordings  \n   - AI-generated visuals  \n   - Story-based breakdowns  \n   - Case studies  \n   - Listicles  \n   - Tutorials  \n   - Malware breakdowns  \n   - OSINT investigations  \n   - Digital forensics explainers  \n5. Avoid illegal activities or instructions that could enable harm. Focus on ethical hacking, awareness, education, and cybersecurity defense.\n6. Provide EXACTLY 20 unique topic ideas in a clean list.\n7. Keep each idea clickable, specific, and crafted for maximum retention and watch time.\n8. No explanations, no extra text — only the list of topics.\n9. Do not include any special characters in the output.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -256,
        -48
      ],
      "id": "164f317e-708b-4501-b10b-b5dfa983f44f",
      "name": "Topic Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Topic Selection Agent. Your only job is to evaluate this list {{ $json.text }} of 20 YouTube video topics (generated by another agent) and select the single best topic from the list. The topic you choose should be related to cybersecurity and should be able to grab viewer's attention.\n\nFollow these rules:\n\n1. Select EXACTLY one topic from the 20 provided.\n2. The selection must be based on:\n   - Highest potential for virality\n   - Strong click-through rate (CTR)\n   - High watch-time probability\n   - Low production difficulty\n   - Suitability for a faceless YouTube channel\n   - SEO and search demand\n   - Relevance to the user's niche\n   - Don't include any symbols in the output. Only the topic.\n\n3. Do NOT rewrite or modify any topic. Choose only from the list provided.\n4. Do NOT add new topics.\n5. Output ONLY the title of the chosen topic — no explanation, no extra text.\n6. Do not return any characters like (!@#$%^&*(){}:\">?/.';][) in the output. Just return plain text.\n7. Just simply return one topic.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        96,
        -48
      ],
      "id": "e2ae569d-d5bf-411a-829d-d3f2201efe19",
      "name": "Topic Selector"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a YouTube shorts script generator. When asked to create a script, generate only the plain script content. The first initial part should contain a hook, and then the rest of the content should follow. Keep it short, simple, and open ended. In the end, always include the CTA like \"Subscribe to the channel for more updates\".\n\nDo not include time stamps, slide numbers, narration labels, or any visual/animation cues. Do not include anything in parentheses. Do not include any text intended for human reading only. Do not include anything like \"**Intro**\\n\" or \"\\n\"in the generated output.\n\nDo not include any introductory phrases like “Here is a script” or “The following is a script.”  \n\nKeep the content concise, clear, and suitable for TTS voiceover. Tone should be trustworthy, and should psychologically trick the user to increase the retention rate. Use proper hooks.\n\nHere's the topic:{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        -48
      ],
      "id": "dab14cda-8ba2-46d8-9d5e-4d9e98b64386",
      "name": "Script Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/tts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice",
              "value": "af_jessica"
            },
            {
              "name": "speed",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -48
      ],
      "id": "8d83e775-5eee-4f66-9be7-3e3ad07e2ad1",
      "name": "Generate TTS"
    },
    {
      "parameters": {
        "command": "=powershell -Command \"& ffmpeg -y -loglevel error -stats -i 'C:\\temp\\New folder\\video.mp4' -i '{{ $json.url }}' -filter_complex '[0:a]volume=0.5[a0];[1:a]volume=2.5[a1];[a0][a1]amix=inputs=2:duration=shortest:dropout_transition=0[m];[m]loudnorm=I=-14:LRA=11:TP=-1.5:linear=true[a]' -map 0:v -map [a] -shortest -c:v h264_nvenc -preset p4 -pix_fmt yuv420p -movflags +faststart -c:a aac -b:a 192k 'C:\\temp\\FINAL_YOUTUBE.mp4'; Write-Output 'C:\\temp\\FINAL_YOUTUBE.mp4'\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1024,
        -48
      ],
      "id": "19495683-69d0-4336-93b5-29e0b363b87f",
      "name": "TTS+Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5001/burn",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_path",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -48
      ],
      "id": "99c05df5-f7f7-45e8-8634-4fb9eb6783a0",
      "name": "Add Subtitles"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AxHBWJf9F8L2Zfpt3goGSQOD400JkRUNcNqlAf8_Syc",
          "mode": "list",
          "cachedResultName": "YouTube Updates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxHBWJf9F8L2Zfpt3goGSQOD400JkRUNcNqlAf8_Syc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AxHBWJf9F8L2Zfpt3goGSQOD400JkRUNcNqlAf8_Syc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.text }}",
            "Published on": "={{ $now }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published on",
              "displayName": "Published on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -304
      ],
      "id": "3d3c14a4-6748-4d8b-b466-cb8312c80f9b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3HtmW0XZsmkrkj9M",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Topic Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topic Generator": {
      "main": [
        [
          {
            "node": "Topic Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Selector": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Generate TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS": {
      "main": [
        [
          {
            "node": "TTS+Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS+Video": {
      "main": [
        [
          {
            "node": "Add Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba925033-6a07-429e-aa65-8e9450479d19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de4bae714303f1ece39bcd35e4f4675e33152c10eae5737f4962c0719b453495"
  },
  "id": "uKs65oSxKdYRXWXM",
  "tags": []
}